<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amelia Earhart</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('partials/header') %> <!-- Include the shared navigation header -->

    <div class="explorer-container">
        <h1>Amelia Earhart</h1>
        <img src="/images/amelia-earhart.jpeg" alt="Amelia Earhart" class="image-fixed-size">
        <p>Amelia Earhart, a pioneering aviator and inspirational figure, is renowned for her groundbreaking achievements in the field of aviation. She became the first woman to fly solo across the Atlantic Ocean in 1932, earning the Distinguished Flying Cross for this record.</p>
        <p>Notable Achievements:</p>
        <ul>
            <li>1928 - First woman to fly as a passenger across the Atlantic Ocean</li>
            <li>1932 - First woman to fly solo nonstop across the Atlantic</li>
            <li>1935 - First person to fly solo from Honolulu, Hawaii, to Oakland, California</li>
        </ul>
        
        <h2>Legacy</h2>
        <p>Amelia Earhart's daring and pioneering spirit made her an international hero, symbolizing the unbounded ambition of the early 20th-century aviation. Her mysterious disappearance during a circumnavigational flight attempt in 1937 has intrigued and inspired people around the world. Earhart's legacy continues to influence pilots, women, and adventurers worldwide, cementing her status as a timeless icon in aviation history.</p>

    </div>

</body>
</html>


