<!DOCTYPE html>
<html>
<head>
    <title>Christopher Columbus</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('partials/header') %> <!-- Shared header included -->
    <div class="explorer-info">
        <h1>Christopher Columbus</h1>
        <img src="/images/christopher-columbus.jpeg" alt="Christopher Columbus" class="image-fixed-size">
        <p>Christopher Columbus was an Italian explorer who completed four voyages across the Atlantic Ocean, opening the way for the widespread European exploration and colonization of the Americas. His expeditions, sponsored by the Catholic Monarchs of Spain, were the first European contact with the Caribbean, Central America, and South America.</p>
        <p>The voyages of Columbus initiated the widespread contact between Europeans and the indigenous peoples of the Americas, a pivotal moment in history known as the "Columbian Exchange". This exchange drastically altered the culture and demographics of both continents.</p>
        <p>Columbus's ambition was to find a western sea route to the East Indies, but instead, he discovered a continent that was then unknown to Europeans. His voyages are a significant chapter in the era of global exploration and colonization, marking the beginning of Spanish colonization in the New World.</p>

        <h2>Voyages</h2>
        <ul>
            <li>1492 - First voyage: Discovery of the Bahamas, Cuba, and Hispaniola</li>
            <li>1493 - Second voyage: Discovery of Dominica, Puerto Rico, and Jamaica</li>
            <li>1498 - Third voyage: Discovery of the mainland of South America</li>
            <li>1502 - Fourth voyage: Coastline of Central America</li>
        </ul>

    </div>
</body>
</html>
