<!DOCTYPE html>
<html>
<head>
    <title>Marco Polo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('partials/header') %> <!-- Shared header included -->
    <div class="explorer-info">
        <h1>Marco Polo</h1>
        <img src="/images/marco-polo.jpeg" alt="Marco Polo" class="image-fixed-size">
        <p>Marco Polo was a Venetian merchant, explorer, and writer who traveled through Asia along the Silk Road between 1271 and 1295. He reached China and the court of Kublai Khan, the Mongol ruler and founder of the Yuan dynasty.</p>
        <p>His journey was recorded in "The Travels of Marco Polo", a book that described the then-unknown cultures and inner workings of the Eastern world, including the vast and wealthy empire of China, its customs, and the Mongolian rulership. This book became one of the most influential works of the Middle Ages, opening the Western world to the geography, history, and cultures of the East.</p>
        <p>Marco Polo's accounts provided a new level of insight into the vastness and diversity of the world beyond Europe, inspiring generations of explorers and adventurers. His travels not only contributed to cartography but also to the eventual European age of exploration.</p>
    </div>
</body>
</html>
