<!DOCTYPE html>
<html>
<head>
    <title>Famous Historical Explorers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/marco-polo">Marco Polo</a></li>
                <li><a href="/christopher-columbus">Christopher Columbus</a></li>
                <li><a href="/amelia-earhart">Amelia Earhart</a></li>
                <li><a href="/neil-armstrong">Neil Armstrong</a></li>
            </ul>
        </nav>
    </header>
    <!-- The rest of your page content goes here -->
</body>
</html>
